{% extends "base_loggedIn.html" %}

{% block title %}User categories{% endblock %}

{%block js%} 

{%endblock%}

{% block content %}
<main>
<div id="mainPage" class="container">
 <div class="row mb-3">
   <div class="col-sm-12">
   <h5>
    {% if current_user %}
	  Welcome to Finance Assitant: {{current_user.Nick}}<br />
	 {% else %}
    {% endif %}
    </h5>
   </div>
  </div>
   {% block info_fp %}	
		{% for info in flash_info %}
		<div class="alert alert-{{info.type}}">{{ info.body }}</div>
		{% endfor %}
	{% endblock %}
  <hr>
<!--- just edit above -->   
  <h5>User categories</h5><br>
  
  <div class="accordion" id="accordionCategories">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Incomes Categories
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionCategories">
      <div class="card-body">
   <form method="POST" id="newICat" action="/category/create">     
   <div class="row">
	<table id="catITbl" class="table table-hover table-bordered">
	  <thead>
		<tr class="bg-dark">
		  <th scope="col">Category name</th>
		  <th scope="col">Options</th>
		</tr>
	  </thead>
	  <tbody class="incomeCats">

  {% for income in incomeCat  %}
   <tr>
	<td class="catName">{{income.nameUserCatIn}}</td>
	<td>
	<button type="button" class="btn btn-outline-warning editI" name="editICat" value="editICat" id="{{income.idUserCatIn}}">
	<i class="fas fa-edit" value="submit"></i>
	</button>
	
	<button type="button" class="btn btn-outline-warning ModalI" name="viewICat" value="viewICat" id="{{income.idUserCatIn}}">
	<i class="fas fa-trash-alt" value="submit"></i>
	</button>
	</td>
   </tr>
		{% endfor %}
  </tbody>
  </table>
 </div></form>
	<div class="row justify-content-sm-center">
	 <span class="addClassErrorI"></span>
	</div>
  <div class="row justify-content-sm-center">
    <button type="button" class="btn btn-outline-success col-sm-3 addIC" name="addIC">Add income category</button>
 </div>	
	   
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Expenses Categories
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionCategories">
   <div class="card-body">
	<form method="POST" id="newECat" action="/category/create">    
   <div class="row">
	<table class="table table-hover table-bordered">
	  <thead>
		<tr class="bg-dark">
		  <th scope="col">Category name</th>
		  <th scope="col">Category limit</th>
		  <th scope="col">Options</th>
		</tr>
	  </thead>
	  <tbody class="expenseCats">
  {% for expense in expenseCat  %}
	<tr>
		<td>{{expense.nameUserCatEx}}</td>
			{% if expense.UExLimit > 0 %} 
		<td>{{expense.UExLimit}}</td>
			{% else %}
		<td>No Limit</td>
			{% endif %}
	<td>
	<button type="button" class="btn btn-outline-warning editE" name="editECat" value="editECat" id="{{expense.idUserCatEx}}">
	<i class="fas fa-edit" value="submit"></i>
	</button>
	
	<button type="button" class="btn btn-outline-warning ModalE" name="viewECat" value="viewECat" id="{{expense.idUserCatEx}}">
	<i class="fas fa-trash-alt" value="submit"></i>
	</button>
	</td>
	</tr>
		{% endfor %}
	  </tbody>
  </table>
 </div></form>
	<div class="row justify-content-sm-center">
	 <span class="addClassErrorE"></span>
	</div>
	<div class="row justify-content-sm-center">
		<button type="button" class="btn btn-outline-danger col-sm-3 addEC" name="addIC">Add expense category</button>
	</div>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Payment Type
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionCategories">
    <div class="card-body">
  <form method="POST" id="newPCat" action="/category/create"> 
  <div class="row">
	<table id="catPTbl" class="table table-hover table-bordered">
	  <thead>
		<tr class="bg-dark">
		  <th scope="col">Category name</th>
		  <th scope="col">Options</th>
		</tr>
	  </thead>
	  <tbody class="payCats">
  {% for pay in paymentCat  %}
			<tr>
			 <td>{{pay.nameUserCatPay}}</td>
	<td>
	<button type="button" class="btn btn-outline-warning editP" name="editPCat" value="editPCat" id="{{pay.idUserCatPay}}">
	<i class="fas fa-edit" value="submit"></i>
	</button>
	
	<button type="button" class="btn btn-outline-warning ModalP" name="viewPCat" value="viewPCat" id="{{pay.idUserCatPay}}">
	<i class="fas fa-trash-alt" value="submit"></i>
	</button>
	</td>
		</tr>
		{% endfor %}
	  </tbody>
  </table>
 </div></form>
  	<div class="row justify-content-sm-center">
	 <span class="addClassErrorP"></span>
	</div>
  <div class="row justify-content-sm-center">
    <button type="button" class="btn btn-outline-warning col-sm-3 addPC" name="addPC">Add payment type</button>
 </div>	
      </div>
    </div>
  </div>
</div>

<!--- remove income category modal-->
	<div class="modal fade" id="removeCatIModal" tabindex="-1" role="dialog" aria-labelledby="paymentModal" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">Remove category</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
		  <p id="errorCatI"> </p>
		  <p class="text-danger">Please confirm you want to remove this category?</p>
		  <p id="catInfoI"></p>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-danger btnRemoveCatI">Remove category</button>
		  </div>
		  </div>
		 </div>
		</div>
	  </div>
<!--- end modal -->
<!--- remove expense category modal-->
	<div class="modal fade" id="removeCatEModal" tabindex="-1" role="dialog" aria-labelledby="paymentModal" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">Remove category</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
		  <p class="text-danger">Please confirm you want to remove this category?</p>
		  <p id="catInfoE"></p>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-danger btnRemoveCatE">Remove category</button>
		  </div>
		  </div>
		 </div>
		</div>
	  </div>
<!--- end modal -->
<!--- remove expense category modal-->
	<div class="modal fade" id="removeCatPModal" tabindex="-1" role="dialog" aria-labelledby="paymentModal" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">Remove category</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
		  <p class="text-danger">Please confirm you want to remove this category?</p>
		  <p id="catInfoP"></p>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-danger btnRemoveCatP">Remove category</button>
		  </div>
		  </div>
		 </div>
		</div>
	  </div>
<!--- end modal -->

<!--- do not touch below -->   
 </div>
</main>

</div>
{% endblock %}