{% extends "base_loggedIn.html" %}

{% block title %}{% endblock %}

{% block content %}
<main>
<div id="mainPage" class="container">
 <div class="row mb-5">
   <div class="col-sm-12 col-md-9">
   <h5>
    {% if current_user %}
	  Welcome to Finance Assitant: {{current_user.Nick}}<br />
	 {% else %}
    {% endif %}
    </h5>
   </div>
   <div class="col-sm-12 col-md-3">
    <div class="dropdown">
	  <button class="btn btn-warning dropdown-toggle btn-block" type="button" id="menuStatement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='fas fa-chart-line'></i> Statements</button>
	  <div class="dropdown-menu" aria-labelledby="menuStatement">
	   <a class="dropdown-item" href="/Statement/displayStatement?view=cm">&#9656; Current Month</a>
	   <a class="dropdown-item" href="/Statement/displayStatement?view=pm">&#9656; Previous Month</a>
	   <a class="dropdown-item" href="/Statement/displayStatement?view=cp" title="datePicker Form" data-toggle="modal" data-target="#datePickerModal">&#9656; Custom Period</a>
	  </div>
    </div>
   </div>
  </div>
  {% if view == 'cp' %}
	<div class="row">
	 <h5 class="mb-md-3 col-md-12">Choose statement period:</h5>
   </div>
	<form action="/Statement/displayStatement?view=cp" method="get">
	<input type="text"  name="view" value="cp" hidden >
	 <div class="form-row justify-content-md-center">
	  <div class="form-group m-xs-1 col-md-4">
		<label for="datepickerFrom" class="col-form-label">from:</label> 
		<input type="text" class="form-control m-2" id="datepickerFrom" name="dateFrom" placeholder="From">
	  </div>
	  <div class="form-group m-xs-1 col-md-4">
		<label for="datepickerTo" class="col-form-label">to: </label>
		<input type="text" class="form-control m-2" id="datepickerTo" name="dateTo" placeholder="To">
	  </div>
    </div>
	<div class="row justify-content-sm-center">
	  <button type="submit" class="btn btn-warning col-sm-4 m-md-4">Submit</button>
	</div>
   </form>
   {% elseif view == 'pm' %}
   <div class="row">
	<h5 class="mb-md-3 col-md-12">Previous month statement</h5>
   </div>
   {% else %}
   <div class="row">
	<h5 class="mb-md-3 col-md-12">Current month statement</h5>
   </div>
   {% endif %}<hr>
   <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-8">
    {% block info_fp %}	
	 {% for info in flash_info %}
	  <div class="alert alert-{{info.type}}">{{ info.body }}</div>
	 {% endfor %}
	{% endblock %}
    </div>
   </div>

  <div class="row">
	<table class="table table-hover table-bordered">
	  <thead>
		<tr class="bg-success">
		  <th class="tbStyle" colspan="5">INCOMES</th>
		</tr>
		<tr class="bg-dark">
		  <th scope="col">Date</th>
		  <th scope="col">Amount</th>
		  <th scope="col">Category</th>
		  <th scope="col">Description</th>
		  <th scope="col">Options</th>
		</tr>
	  </thead>
	  <tbody>
  {% for income in incomes  %}
			<tr>
			
			 <td>{{income.incomeDate}}</td>
			 <td>{{income.incomeAmount}}</td>
			 <td>{{income.nameCatI}}</td>
			 <td>{{income.incomeDescr}}</td>
			 <th>
	<form method="post" id="formEditIncome" action="/income/showSingleIncome">
		<input type="hidden" name="transType" value="I">
		<input type="hidden" name="incomeId" value="{{income.idIncome}}">
		<button type="submit" class="btn btn-outline-warning" name="Edit Income">
		 <i class="fas fa-edit" value="submit"></i>
		</button>
	</form></th>
		</tr>
		{% endfor %}
	  </tbody>
  </table>
 </div> 
 
 	<div class="row">
	<table class="table table-hover table-bordered">
	  <thead >
	  <tr class="bg-danger">
		  <th class="tbStyle" colspan="6">EXPENSES</th>
	  </tr>
		<tr class="bg-dark" >
		  <th scope="col">Date</th>
		  <th scope="col">Amount</th>
		  <th scope="col">Payment type</th>
		  <th scope="col">Category</th>
		  <th scope="col">Description</th>
		  <th scope="col">Options</th>
		</tr>
	  </thead>
	  <tbody>
	  {% for expense in expenses  %}
	   <tr>
			 <td>{{expense.expenseDate}}</td>
			 <td>{{expense.expenseAmount}}</td>
			 <td>{{expense.nameCatPay}}</td>
			 <td>{{expense.nameCatE}}</td>
			 <td>{{expense.expenseDescr}}</td>
		<th>
		<form method="post" action="/expense/showSingleExpense">
		  <input type="hidden" name="transType" value="E">
		  <input type="hidden" name="expenseId" value="{{expense.idExpenses}}">
		  <button type="submit" class="btn btn-outline-warning">
		  <i class="fas fa-edit" value="submit"></i>
		  </button>
		</form>
		</th>
		</tr>
	 {% endfor %}
	  </tbody>
  </table>
 </div>

 <!--- Add income/expenses buttons -->  
<div id="transBtns" class="row mt-5 justify-content-md-center">
 <button type="button" class="m-1  btn btn-outline-success btn-lg col-md-5" data-toggle="modal" data-target="#addIncome">Add income</button>
 
 <!--- datePicker MODAL -->
	<div class="modal fade" id="datePickerModal" tabindex="-1" role="dialog" aria-labelledby="datePicker" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="datePickerLabel">Choose statement period:</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
		<form action="/Statement/displayStatement?view=cp" method="get">
			<input type="text"  name="view" value="cp" hidden >
		 <div class="form-row justify-content-md-center">
		  <div class="form-group m-xs-1 col-md-6">
			<label for="modalDatepickerFrom" class="col-form-label">from:</label> 
			<input type="text" class="form-control m-2" id="modalDatepickerFrom" name="dateFrom" placeholder="From">
		  </div>
		  <div class="form-group m-xs-1 col-md-6">
			<label for="modalDatepickerTo" class="col-form-label">to: </label>
			<input type="text" class="form-control m-2" id="modalDatepickerTo" name="dateTo" placeholder="To">
		  </div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-warning">Submit</button>
		  </div>
		  </form>
		 </div> 
		</div>
	  </div>
	</div>
<!--- end modal -->
 
 <!--- Add income MODAL -->
	<div class="modal fade" id="addIncome" tabindex="-1" role="dialog" aria-labelledby="addIncome" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="addIncomeLabel">Add income:</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form action="/income/create" method="post">
			<input type="text" class="form-control" id="transactionType" value="I" name="transactionType" hidden>
			 <div class="form-group">
			  <label for="incomeDate" class="col-form-label">Date:</label>
			  <input type="text" class="form-control" id="incomeDate" name="transactionDate" required>
			 </div>
			 <div class="form-group">
				<label for="amountI" class="col-form-label">Amount:</label>
				<input type="text" class="form-control" id="amountI" name="amount" required>
			 </div>
			 <div class="form-group">
			  <label for="Category" class="col-form-label">Category:</label>
			  <div class="input-group mb-3">
				<select class="custom-select" id="selectCatI" name="Category" required>
				<option value="0">Choose...</option>
				 
				 {% for catI in catsI %}
				 <option value="{{catI.idCatI}}">{{catI.nameCatI}}</option>
				 {% endfor %}
				
				 </select>
				</div>
			  </div>
			  <div class="form-group">
				<label for="descriptionI" class="col-form-label">Description:</label>
				<input type="text" class="form-control" id="descriptionI" maxlength="50" name="description" required>
			  </div>

		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-warning">Save income</button>
		  </div>
		  </form>
		 </div> 
		</div>
	  </div>
	</div>
<!--- end modal -->

<button type="button" class="m-1  btn btn-outline-danger btn-lg col-md-5" data-toggle="modal" data-target="#addExpense">Add expense</button>
 <div class="modal fade" id="addExpense" tabindex="-1" role="dialog" aria-labelledby="addExpense" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="addExpenseLabel">Add expense:</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
		  <form action="/expense/create" method="post">
			<input type="text" class="form-control" id="transactionType" value="E" name="transactionType"hidden>
			  <div class="form-group">
				<label for="expenseDate" class="col-form-label">Date:</label>
				<input type="text" class="form-control" id="expenseDate" name="transactionDate">
			  </div>
			  <div class="form-group">
				<label for="amountE" class="col-form-label">Amount:</label>
				<input type="text" class="form-control" id="amountE" name="amount">
			  </div>
			  <div class="form-group">
				<label for="payType" class="col-form-label">Payment Type:</label>
				<div class="input-group">
				 <select class="custom-select" id="PayType" name="payType" >
				 <option value="0">Choose...</option>
				 {% for catP in catsP %}
				 <option value="{{catP.idCatPay}}">{{catP.nameCatPay}}</option>
				 {% endfor %}
				 </select>
				</div>
			  </div>
			  <div class="form-group">
				<label for="categoryE" class="col-form-label">Category:</label>
				<div class="input-group">
				  <select class="custom-select" id="selectCatE" name="Category"  required>
					<option value="0">Choose...</option>
					{% for catE in catsE %}
					<option value="{{catE.idCatE}}">{{catE.nameCatE}}</option>
					{% endfor %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label for="descriptionE" class="col-form-label">Description:</label>
				<input type="text" class="form-control" id="descriptionE" maxlength="50" name="description">
			  </div>
			
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-warning">Save expense</button>
			  </div>
		  </form>
		  </div>
		</div>
	  </div>
	</div>
<!--- end modal -->


  </div>
 </div>
</main>

{% endblock %}