{% extends "base_loggedIn.html" %}

{% block title %}{% endblock %}

{% block content %}
<main>
<div id="mainPage" class="container">
 <div class="row mb-5">
   <div class="col-sm-12 col-md-8">
   <h5>
    {% if current_user %}
	  Welcome to Finance Assitant: {{current_user.Nick}}<br />
	 {% else %}
    {% endif %}
    </h5>
   </div>
   <div class="col-sm-12 col-md-4">
    <div class="dropdown">
	  <button class="btn btn-warning dropdown-toggle" type="button" id="menuStatement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='fas fa-chart-line'></i> Statements</button>
	  <div class="dropdown-menu" aria-labelledby="menuStatement">
	   <a class="dropdown-item" href="/Login/VerifiedUser?view=cm">&#9656; Current Month</a>
	   <a class="dropdown-item" href="/Login/VerifiedUser?view=pm">&#9656; Previous Month</a>
	   <a class="dropdown-item" href="/Login/VerifiedUser?view=cp">&#9656; Custom Period</a>
	  </div>
    </div>
   </div>
  </div>
 </div>
</main>

</div>
{% endblock %}