{% extends "base_loggedIn.html" %}

{% block title %}Add Expese{% endblock %}

{% block content %}
<main>
<div id="mainPage" class="container">
 <div class="row mb-3">
   <div class="col-sm-12">
   <h5>
    {% if current_user %}
	  Welcome to Finance Assitant: {{current_user.Nick}}<br />
	 {% else %}
    {% endif %}
    </h5>
   </div>
  </div>
   {% block info_fp %}	
		{% for info in flash_info %}
		<div class="alert alert-{{info.type}}">{{ info.body }}</div>
		{% endfor %}
	{% endblock %}
  <hr>
<!--- just edit above -->   
  <h5>Add Expense</h5><br>
    {%if expense.errors is not empty %}
   <div class="error_reg">
   <h7>Errors:</h7>
   <ul>
     {%for error in expense.errors%}
	   <li>{{error}}</li>
	 {%endfor%}
   </ul>
   </div>
   {%endif%}
	<form action="/expense/create" method="post">
	 <input type="text" class="form-control" id="transactionType" value="E" name="transactionType" hidden>
	 <div class="form-row justify-content-md-center">
	  <div class="form-group col-md-3">
		<label for="transactionDate" class="col-form-label">Date:</label>
		<input type="text" class="form-control" id="transactionDate" name="transactionDate" value="{{expense.transactionDate}}" required>
	  </div> 
	  <div class="form-group col-md-3">
		<label for="amount" class="col-form-label">Amount:</label>
		<input type="text" class="form-control" id="amount" name="amount" value="{{expense.amount}}"required>
	  </div>
	  <div class="form-group col-md-3">
		<label for="payType" class="col-form-label">Payment type:</label>
		<div class="input-group mb-3">
		  <select class="custom-select" id="PayType" name="payType">
			<option value="0">Choose...</option>
			
			{% for catP in catsP %}
			 <option value="{{catP.idCatPay}}">{{catP.nameCatPay}}</option>
			{% endfor %}
			
		  </select>
		</div>
	  </div>
	 </div>
	 <div class="form-row justify-content-md-center">
	  <div class="form-group col-md-3">
		<label for="Category" class="col-form-label">Category:</label>
		<div class="input-group mb-3">
		  <select class="custom-select" id="selectCatE" name="Category"  >
			<option value="0">Choose...</option>
			{% for catE in catsE %}
			 <option value="{{catE.idCatE}}">{{catE.nameCatE}}</option>
			{% endfor %}
		  </select>
		</div>
	  </div>
	  <div class="form-group col-md-6">
		<label for="description" class="col-form-label">Description:</label>
		<input type="text" class="form-control" id="description" maxlength="50" name="description" value="{{expense.description}}"  required>
	  </div>
	 </div>
	 <div class="row justify-content-sm-center">
	  <button type="submit" class="btn btn-warning col-sm-4 m-md-4">Add transaction</button>
	 </div>
	 </form>
	<div  class="row justify-content-sm-center">
		<button type="button" class="btn btn-outline-warning col-sm-3 m-md-3" data-toggle="modal" data-target="#addExpenseCatModal">Add expense category</button>
		<button type="button" class="btn btn-outline-warning col-sm-3 m-md-3" data-toggle="modal" data-target="#addPaymentTypeModal">Add payment type</button>
	</div>
<!--- add expense category -->
	<div class="modal fade" id="addExpenseCatModal" tabindex="-1" role="dialog" aria-labelledby="expenseModal" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="addExpenseCat">Add expense Category:</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form action="/category/create" method="post">
			<input type="hidden" class="form-control"  name="categoryType" value="UE">
			  <div class="form-group">
				<label for="expenseCategory" class="col-form-label">New expense category</label>
				<input type="text" class="form-control" id="expenseCategory" name="category" placeholder="Expense Category" required>
			  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-warning">Save category</button>
		  </div>
		 </form></div>
		</div>
	  </div>
	</div>
<!--- end modal -->
<!--- add payment type -->
	<div class="modal fade" id="addPaymentTypeModal" tabindex="-1" role="dialog" aria-labelledby="paymentModal" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="addpaymentType">Add payment type:</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form action="/category/create" method="post">
			<input type="hidden" class="form-control"  name="categoryType" value="UP">
			  <div class="form-group">
				<label for="paymentCategory" class="col-form-label">New payment type</label>
				<input type="text" class="form-control" id="paymentCategory" name="category" placeholder="Payment type" required>
			  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-warning">Save payment type</button>
		  </div>
		 </form></div>
		</div>
	  </div>
	</div>
<!--- end modal -->
<!--- do not touch below -->   
 </div>
</main>

</div>
{% endblock %}