{% extends "base_loggedIn.html" %}

{% block title %}Add Income{% endblock %}

{%block js%} 

{%endblock%}

{% block content %}
<main>
<div id="mainPage" class="container">
 <div class="row mb-3">
   <div class="col-sm-12">
   <h5>
    {% if current_user %}
	  Welcome to Finance Assitant: {{current_user.Nick}}<br />
	 {% else %}
    {% endif %}
    </h5>
   </div>
  </div>
    {% block info_fp %}	
		{% for info in flash_info %}
		<div class="alert alert-{{info.type}}">{{ info.body }}</div>
		{% endfor %}
	{% endblock %}
  <hr>
<!--- just edit above -->   
  <h5>Add Income</h5><br>
  {%if income.errors is not empty %}
   <div class="error_reg">
   <h7>Errors:</h7>
   <ul>
     {%for error in income.errors%}
	   <li>{{error}}</li>
	 {%endfor%}
   </ul>
   </div>
   {%endif%}
	<form action="/income/create" method="post">
	 <input type="text" class="form-control" id="transactionType" value="I" name="transactionType" hidden>
	 <div class="form-row justify-content-md-center">
	  <div class="form-group col-md-3">
		<label for="transactionDate" class="col-form-label">Date:</label>
		<input type="text" class="form-control" id="transactionDate" name="transactionDate" value="{{income.transactionDate}}"required>
	  </div>
	  <div class="form-group col-md-3">
		<label for="amount" class="col-form-label">Amount:</label>
		<input type="text" class="form-control" id="amount" name="amount" value="{{income.amount}}" required>
	  </div>
	  <div class="form-group col-md-3">
		<label for="Category" class="col-form-label">Category:</label>
		<div class="input-group mb-3">
		  <select class="custom-select" id="selectCatI" name="Category">
			<option value="0">Choose...</option>
			 {% for catI in catsI %}
				<option value="{{catI.idCatI}}">{{catI.nameCatI}}</option>
			{% endfor %}
		  </select>
		</div>
	  </div>
	 </div>
	 <div class="form-row justify-content-md-center">
	  <div class="form-group col-md-6">
		<label for="description" class="col-form-label">Description:</label>
		<input type="text" class="form-control" id="description" maxlength="50" name="description" value="{{income.description}}" required>
	  </div>
	 </div>
	 <div class="row justify-content-sm-center">
	  <button type="submit" class="btn btn-success col-sm-4 m-md-4">Add transaction</button>
	 </div>
	 <div  class="row justify-content-sm-center">
	  <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addIncomeCatModal">Add income category</button>
	 </div>
	</form>

<!--- add income category modal-->
	<div class="modal fade" id="addIncomeCatModal" tabindex="-1" role="dialog" aria-labelledby="incomeModal" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="registerModalLabel">Add Income Category:</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form action="/category/create" method="post">
			<p id="infoCatI"> </p>
			<input type="hidden" class="form-control"  name="categoryType" id="categoryType" value="UI">
			  <div class="form-group">
				<label for="incomeCategory" class="col-form-label">New income category</label>
				<input type="text" class="form-control" id="incomeCategory" name="category" placeholder="Income Category" required>
			  </div>

		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button id="btnIncCat" type="submit" class="btn btn-warning">Save category</button>
		  </div>
		 </form></div>
		</div>
	  </div>
	</div>
<!--- end modal -->
<!--- do not touch below -->   
 </div>
</main>

</div>
{% endblock %}