{% extends "base.html" %}

{% block title %}{% endblock %}

{% block body %}
<div id="mainMenu" class="stickyToTop">
<nav class="navbar navbar-light navbar-expand-md mb-md-5 ">
 <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuToggler" aria-controls="menuToggler" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menuToggler">
	 <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/Login/VerifiedUser?view=cm"><i class='fas fa-landmark'></i> Home</a>
	  </li>
	  <li class="nav-item">
        <a class="nav-link" href="/Statement/displayStatement?view=cm"><i class='fas fa-chart-line'></i> Statements</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class='fas fa-money-bill'></i> Transaction
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
          <a class="dropdown-item" href="/Income/addIncome">&#9656; Add Income</a>
          <a class="dropdown-item" href="/Expense/addExpense">&#9656; Add Expense</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class='fas fa-cog'></i> Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" href="settings.php?type=account">&#9656; Account</a>
          <a class="dropdown-item" href="b_settings.html?type=trans">&#9656; Transaction</a>
          <a class="dropdown-item" href="/profile/show">&#9656; Profile</a>
        </div>
      </li>
     </ul>
	 <span class="navbar-text mr-md-5">
     <a href="/logout"><i class='fas fa-minus-circle'></i> Log Out</a>
    </span>
	</div>
   </div>
</nav>
</div>
	{% block content %}

	{% endblock %}

{% endblock %}